


@mixin color($background-color, $text-color){
  background-color: $background-color;
  color: $text-color;
}

$white: #fff;

$grey-dark: #2F2F2F;
$grey-medium: #373737;
$grey-blueish: #37474F;
$grey: #7D7D7D;
$grey-opaque: rgba(55, 71, 79, 0.721569);


$purple-light: #A59DFF;
$purple: #717CFF;
$blue: #4654FD;
$purple-opaque: rgba(113, 124, 255, 0.14);