@use "sass:map";


$breakpoints: (
  small-mobile: 350px,
  mobile: 700px,
  tablet: 1160px,
  laptop: 1366px
);


@mixin media($size){
  $breakpoint: map.get($breakpoints, $size);
  @media screen and (max-width: $breakpoint){
    @content;
  }
}


@mixin media-only-tablet(){
  $md: map.get($breakpoints, mobile);
  $lg: map.get($breakpoints, tablet);
  @media screen and (min-width: calc($md + 1px)) and (max-width: $lg){
    @content;
  }
}


@mixin hide-on($breakpoint){
  @include media($breakpoint){
    display: none !important;
  }
}


$navbar-desktop-height: 122px; //nav: 89px, spacing before 33px (vide design).
$navbar-mobile-height: 60px;


$container-left: Min(130px, calc(50% - 590px));
$container-left-laptop: calc(50% - 560px);
$container-left-tablet: 6%;
$container-left-mobile: 3%;

$container-right: Min(130px, calc(50% - 590px));
$container-right-laptop: calc(50% - 560px);
$container-right-tablet: 6%;
$container-right-mobile: 3%;

@mixin container($left: true, $right: true){
  
  @if($right){ padding-right: $container-right; }
  @if($left) { padding-left: $container-left; }

  @include media(laptop){
    @if($right){ padding-right: $container-right-laptop; }    
    @if($left) { padding-left: $container-left-laptop; }    
  }  

  @include media(tablet){
    @if($right){ padding-right: $container-right-tablet;}
    @if($left) { padding-left: $container-left-tablet; }
  }

  @include media(mobile){
    @if($right){ padding-right: $container-right-mobile;}
    @if($left) { padding-left: $container-left-mobile; }
  }
}



@mixin size($width, $height){
  width: $width;
  height: $height;
}


@mixin flex-center{
  display: flex;   
  justify-content: center;
  align-items: center;  
}


@mixin flex($direction, $justify, $align){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}


@mixin flex-gap($row, $column){
  >*:not(:first-child){
    margin-left: $row;
    margin-top: $column;
  }
}


@mixin anchor-no-decoration{  
  text-decoration: none;
  color: inherit;
}


@mixin ul-no-decoration{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


@mixin section-spacing{
  margin-top: 60px;
  padding-top: 140px;
  @include media(mobile){
    padding-top: 100px;
  }
}

