@use '../mixins' as *;


.root-heading-2{    
  @include flex(column, flex-start, center);  

  .title{
    font: 700 37px $font-headlines;
    text-align: center;
    margin: 0px;

    @include media(mobile){
      font-size: 26px;
    }
  }

  .subtitle{
    margin: 25px 0px 0px 0px;
    @include typo-subtitle;
    width: 75ch;
    text-align: center;

    @include media(tablet){
      width: 90%;
    }
  }    
}

.root-heading-3 h3{
  margin: 0;
  font: 700 24px /1.54 $font-headlines; 
  color: $grey-blueish;

  @include media(mobile){
    font-size: 20px;
  }
}